<div class="design-page">
	<div class="design" data-id="<%= design.id %>">
		<div class="feedbacks">
			<div class="feedback hidden" style="top: 300px; left: 300px;">
				<span class="point"><%= feedbacks.length+1 %></span>
				<div class="feedback-box hidden">
					<div class="feedback-messages">
						<div class="message">
							<p>Budovaly o odlišnosti bílé rodu ledu formy ostrovní už svahy pozorovatelného steaky objevení i názorovým rádi pan k pól.</p>
							<span class="badge">
								jsem@davidvesely.cz
							</span>
						</div>
						<div class="message">
							<p>Týkalo z ničivé jedná nejblíže, něm srovnání dostaly.</p>
							<span class="badge">
								jsem@davidvesely.cz
							</span>
						</div>
					</div>
					<form class="form form-small">
						<textarea class="form-control" placeholder="Write a comment…"></textarea>
						<button type="submit" class="btn">
							<span>Send it</span>
							<img src="/img/arrow-right.svg" alt="Arrow right">
						</button>
					</form>
				</div>
			</div>
			
			<div class="renderFeedbacks"></div>
			<!--<% feedbacks.forEach(function(feedback, index) { %>
				<div class="feedback" style="top: <%= feedback.top %>px; left: <%= feedback.left %>px;">
					<span class="point"><%= index+1 %></span>
					<div class="feedback-box hidden">
						<div class="feedback-messages">
							<div class="message">
								<p><%= feedback.content %></p>
								<span class="badge">
									userId: <%= feedback.userId %>
								</span>
							</div>
							<% //feedbacks.forEach(function(feedback, index) { %>
							<div class="message">
								<p><%= feedback.content %></p>
								<span class="badge">
									userId: <%= feedback.userId %>
								</span>
							</div>
							<% //}); %>
						</div>
						<form class="form form-small" data-feedbackid="<%= feedback.id %>" data-designid="<%= design.id %>">
							<textarea class="form-control" placeholder="Write a comment…"></textarea>
							<button type="submit" class="btn">
								<span>Send it</span>
								<img src="/img/arrow-right.svg" alt="Arrow right">
							</button>
						</form>
					</div>
				</div>
			<% }); %>-->

			<div class="feedback feedback-add" style="display:none">
				<span class="point"><%= feedbacks.length+1 %></span>
				<div class="feedback-box">
					<div class="form">
						<input type="hidden" name="design-id" class="design-id" value="<%= design.id %>">
						<textarea name="content" class="form-control" placeholder="Write a comment…"></textarea>
						<button type="submit" class="btn">
							<span>Send it</span>
							<img src="/img/arrow-right.svg" alt="Arrow right">
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="image">
			<!--<img src="/uploads/<%= design.src %>" alt="Design">-->
			<img src="/uploads/<%= design.src %>" alt="Design">
		</div>
	</div>
	<div class="invite-section">
		<div class="invite-box"></div>
		<div class="invite-toggle">
			<span class="mail"></span>
		</div>
	</div>

	<div class="identify-popup" style="display:none">
		<header class="identify-header">
			<img src="/img/anonym-user.svg" alt="Anonym user">
			<strong>Identify yourself by e-mail: </strong>
		</header>
		<form class="form">
			<input type="email" class="form-control" placeholder="Write your email">
			<button type="submit" class="btn">
				<span>Post comment</span>
				<img src="/img/arrow-right.svg" alt="Arrow right">
			</button>
		</form>
	</div>
</div>